body{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    background-color: rgb(39, 44, 50);
}

.container{
    display: grid;
    grid-template-columns: repeat(3,100px);
    grid-template-rows: repeat(3,100px);
    gap: 1px;
}

.grid-box{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: tomato;
    color: white;
    font-size: 32px;
}